body {
    background-color:#011632;
}

.yellow {
    background-color: #ffda01;
}

.orange {
    background-color: #ff8c4e;
}

.blue {
    background-color: #011632;
}

.col-1.logo {
    background-image: url(../logoboo.jpeg);
    background-size: cover;
    background-position: center;
    border: 5px solid #ffda01;
    border-radius: 30px;
}

